  <div id="sidebar" >
    <h1>Sidebar Menu</h1>
    <ul class="sidemenu">
      <li><a href="#">Home</a></li>
      <li><a href="#TemplateInfo">Template Info</a></li>
      <li><a href="#SampleTags">Sample Tags</a></li>
      <li><a href="#">More Free Templates</a></li>
      <li><a href="#">Premium Template</a></li>
    </ul>
    <h1>Site Partners</h1>
    <ul class="sidemenu">
      <li><a href="#">Dreamhost</a></li>
      <li><a href="#">4templates</a></li>
      <li><a href="#">TemplateMonster</a></li>
      <li><a href="#">Fotolia.com</a></li>
      <li><a href="#">Text Link Ads</a></li>
    </ul>
    <h1>Wise Words</h1>
    <p>&quot;To know what you know and know what you don't know is the characteristic of one who knows&quot;</p>
    <p class="align-right">- Confucius</p>
  </div>